* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	font-size: 14px;
	height: 100%;
}
body{color: #212b3b;-webkit-text-size-adjust:none;overflow-x:hidden;}

body>#app{
	position:relative;
}
footer{
	position: absolute;
    bottom: 0;
	width: 100%;

}
.block{display: block !important;}
.inline{display: inline-block !important;}
label{
	font-weight: normal;
}
.size8{font-size: 12px;line-height:1em;}
.size10{font-size: 12px;}
.size12{font-size: 12px;}
.size14{font-size: 14px;}
.size16{font-size: 16px;}
.size18{font-size: 18px;}
.size20{font-size: 20px;}
.size22{font-size: 22px;}
.grey9{color: #999999;}
.grey7{color: #6d7d99;}
.grey6{color: #969696;}
.grey50{
	color:#808080;
}
.grey20{
	color:#343434;
}
.grey40{
	color:#666666;
}
.purpleFont{
	color:#6a77a3;
}
.purpleFont:hover{
	color:#6a77a3;
}
.purple_bg{
	background: #f1f4fa;
}
.font_blue{color:#0175d8;}
.font_btn{color:#419be8;}
.font_purple{color:#656d8a;}
.font_error{color: #d22020;}
.h1,.h2,.h3,h1,h2,h3,h1,h2,h3,h4,h5,h6{
	margin-top: 0;
}
.margin-bottom-15,.form-group{
	margin-bottom: 15px;
}
[class*=" myicon-"], [class^=myicon-]{
	display: inline-block;
	height:30px;
	width: 30px;
	background-position: top center;
	background-repeat: no-repeat;
	vertical-align: middle !important;
}
.myicon-arrows{
	height: 10px;
    width: 10px;
    background-image: url(../../img/arrows.png);
    background-position: left top;
    transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */
	
	 transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}
.open .myicon-arrows{
	 transform:rotate(0deg);
	-ms-transform:rotate(0deg); 	/* IE 9 */
	-moz-transform:rotate(0deg); 	/* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg); 	/* Opera */
}
.myicon-caret{
	display: inline-block;
    width: 0;
    height: 0;
    border: 0;
    content: "";
    z-index: 2;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: 10px;
    border-top: 5px solid #a6a6a6;
    border-bottom: none;
}
.myicon-export{
	width: 14px;
    height: 14px;
    background-image: url(../../img/export.png);
    background-size: 90%;
    margin-bottom: 2px;
}
/* button:hover .myicon-export,button:active .myicon-export{
	 background-image: url(../../img/export_white.png);
} */
.myicon-addstudy{
	width: 14px;
    height: 14px;
    background-image: url(../../img/addstudy.png);
    background-size: 90%;
    margin-bottom: 2px;
}
.myicon-bioCount{
    background-image: url(../../img/bioCount.png);
    background-position: center;
    width: 15px;
    margin-bottom: 2px;
}
/* button:hover .myicon-addstudy,button:active .myicon-addstudy{
	 background-image: url(../../img/addstudy_white.png);
} */
.myicon-editExp{
	background-image:url(../../img/editExp.png);
	background-position: center center;
}
.myicon-delExp{
	width: 15px;
	background-position: center center;
	background-image:url(../../img/delExp.png);
}
.myicon-user{
	background-image:url(../../img/user.png);
}
.myicon-user2{
	background-image: url(../../img/topIcon_user.png);
    background-position: center;
}
.myicon-setting{
	background-image:url(../../img/topIcon_setting.png);
  	background-position: center;
}
.myicon-edit{
	height:25px !important;
	background-image:url(../../img/editpeople.png);
}
.myicon-checkApply{
	height:25px !important;
	background-image:url(../../img/applyCheck.png);
}
.myicon-ensureApply{
	height:25px !important;
	background-image:url(../../img/applyEnsure.png);
}
.myicon-refuseApply{
	height:25px !important;
	background-image:url(../../img/applyRefuse.png);
}
.is-plain:hover .myicon-edit,.is-plain:focus .myicon-edit,.is-plain:active .myicon-edit{
	background-image:url(../../img/editpeople_white.png);
}
.myicon-exit{
	background-image:url(../../img/topIcon_exit.png);
  	background-position: center;
}
.myicon-message{
	background-image:url(../../img/topIcon_message.png);
  	background-position: center;
}
.myicon-helper{
	background-image:url(../../img/topIcon_helper.png);
  	background-position: center;
}
.myicon-setpeople{
	height:25px !important;
	background-image:url(../../img/setpeople.png);
}
.is-plain:hover .myicon-setpeople,.is-plain:focus .myicon-setpeople,.is-plain:active .myicon-setpeople{
	background-image:url(../../img/setpeople_white.png);
}
.myicon-addpeople{
	background-image: url(../../img/addpeople.png);
    height: 21px !important;
    width: 19px !important;
    margin: 0 5px 0 -2px;
}

.is-plain:hover .myicon-addpeople,.is-plain:focus .myicon-addpeople,.is-plain:active .myicon-addpeople{
	background-image:url(../../img/addpeople_white.png);
}
.myicon-adduser{
	background-image: url(../../img/adduser.png);
}

.is-plain:hover .myicon-adduser,.is-plain:focus .myicon-adduser,.is-plain:active .myicon-adduser{
	background-image:url(../../img/adduser_white.png);
}
.myicon-managepeople{
	background-image: url(../../img/managepeople.png);
    height: 21px !important;
    width: 19px !important;
    margin: 0 5px 0 -2px;
}
.is-plain:hover .myicon-managepeople,.is-plain:focus .myicon-managepeople,.is-plain:active .myicon-managepeople{
	background-image:url(../../img/managepeople_white.png);
}
.myicon-studylist{
	background-image:url(../../img/studylist.png);
}
.is-active .myicon-studylist{
	background-image:url(../../img/studylist_b.png);
}
.is-active .myicon-patientlist{
	background-image:url(../../img/patientlist.png);
}
.myicon-patientlist{
	background-image:url(../../img/patientlist_h.png);
}
.myicon-menu_download{
	background-image:url(../../img/menu_download.png);
}
.is-active .myicon-menu_download{
	background-image:url(../../img/menu_download_white.png);
}
.myicon-menu_export{
	background-image:url(../../img/menu_export.png);
}
.is-active .myicon-menu_export{
	background-image:url(../../img/menu_export_white.png);
}
.myicon-change{
	height:25px !important;
	background-image:url(../../img/changepeople.png);
}
.is-plain:hover .myicon-change,.is-plain:focus .myicon-change,.is-plain:active .myicon-change{
	background-image:url(../../img/changepeople_white.png);
}
.myicon-patientnum{
	background-image:url(../../img/patientnum_white.png);
}
.myicon-samplenum{
	background-image:url(../../img/samplenum_white.png);
}
.myicon-views{
  background-image:url(../../img/views.png);
}
.myicon-print{
	background-image:url(../../img/print_icon.png);
}
.myicon-apply{
	background-image:url(../../img/apply_btn.png);
}
.myicon-load{
  background-image:url(../../img/load.png);
}
.myicon-studynum{
	background-image:url(../../img/studynum_white.png);
}
.myicon-delete{
	background-image:url(../../img/delete.png);
}
.myicon-patientMR{
	background-image:url(../../img/timePR.png);
}
.myicon-btn-edit{
  background-image:url(../../img/edit.png);
}
.icon_plus,.icon_del{
	color: #fff;
	background: #57c8ce;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: inline-block;
	line-height: 18px;
	text-align: center;
	cursor: pointer;

}
.icon_plus:hover,.icon_del:hover{
	color: rgba(255, 255, 255, 0.8);
	background: rgba(87, 200, 206, 0.8);
}
.reltime_box .icon_plus,.reltime_box .icon_del{
	margin-right: 0;
	margin-left: 5px;
}
.el-button--small.corner,.el-button.corner{
	border-radius: 18px;
	padding-left:26px;
	padding-right:26px;
}

.toright{float: right;}
.cricle{display: block;float:left;background: #6acbd0;border-radius: 50%;width: 30px;height: 30px;color: #fff;line-height: 30px;font-style: italic;text-align: center;}
.cricle.blue{background: #84a2de;}

body{overflow-x: hidden;}


.toleft {
	margin-left: 6px;
	float: left;
	text-align: left;
}
.el-row{
	margin-bottom: 10px;
	
}
.el-row:last-child {
		margin-bottom: 0
	}

/* .el-button>i{
	color: #57c8ce;
} */

.bg-purple-dark {
	background: #99a9bf
}

.bg-purple{
	background: #d3dce6
}

.bg-purple-light{
	background: #e5e9f2
}

.grid-content{
	border-radius: 4px;
	min-height: 36px;
	background-color: #fff;
	border: 1px solid #f0f0f0;
}

.row-bg{
	padding: 10px 0;
	background-color: #f9fafc
}
main .el-select .el-input {
	width: 260px;
}

.search_box,.el-menu .el-breadcrumb+.search_box {
	position: absolute;
	right: 25px;
	top: 10px;
	z-index: 90;
}
  .mybox{
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    border: 1px solid #f2f2f2;
  }
  .grid-content .mybox{border:0;}
  .mybox .mybox_head{
      border-radius: 4px;
      border-bottom: 1px solid #f4f4f4;
      color: #7f7f7f;
      font-size: 14px;
     padding: 0 5px;
      height: 44px;
      margin:0 10px;

  }
  .mybox .mybox_head .mybox_title{
    float: left;
    line-height: 44px;
   
  }
  .mybox .mybox_head .mybox_set{
    float:right;
    margin-top: 7px;
  }
  .mybox .mybox_body{
    padding: 5px;
    border-radius: 4px;
    min-height: 150px;
  }
  .main-bottom{padding:20px;}
  @media  screen and (max-width: 1024px) {
      .main-bottom{padding:10px 0;}
    
  }
  
    .title{margin: 10px -3px;display: inline-block;
   }
  
.hidden{display: none !important;}
footer,footer a{text-align: center;font-size: 13px;color: #999;padding: 10px;}
.el-dropdown-link a{color: #fff;}
.el-dropdown-link a:hover{color: #fff;}
a,a:hover,a:active{text-decoration: none !important;}
a.el-menu-item{padding: 0;}
.textOverflow{ white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.modal.mymodal .modal-dialog{
	top:20%;
}


/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
*::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background-color: #f5f5f5;
}
/*定义滚动条的轨道，内阴影及圆角*/
*::-webkit-scrollbar-track{
    border-radius: 7px;
    background: rgba(51, 51, 51,0.2);
}
/*定义滑块，内阴影及圆角*/
*::-webkit-scrollbar-thumb{
    height: 10px;
    border-radius: 7px;
    background: rgba(0, 0, 0,0.4);
}
/* 滚动条背景基本样式 */
scrollbar{
-moz-appearance: none !important;
background-color: transparent !important;/* 滚动条背景透明 */
background-image: none !important; /* 滚动条背景图案不显示 */
position: relative !important; /* 更改滚动条的定位方式为相对 */
overflow: hidden !important;
z-index: 999999999 !important; /* 把滚动条提到Z轴最上层 */
}

/* 滚动条按钮基本样式 */
scrollbar thumb{
-moz-appearance: none !important;
background-color: rgba(0,100,255,.25) !important;
border-radius: 0 !important;
border: 1px !important; /* 滚动条按钮边框 */
border-color: rgba(0,100,255,.1) !important;  /* 滚动条按钮边框颜色和透明度 */
}

/* 滚动条按钮:鼠标悬停与点击拖动时基本样式 */
scrollbar:hover thumb,
scrollbar thumb:hover,
scrollbar thumb:active {
background-color: rgba(0,100,255,.75) !important;
border: 0 !important;
}

/* 垂直滚动条 */
/* 把滚动条位置移到屏幕外，这里的像素应该等于垂直滚动条宽度的负值 */
scrollbar[orient="vertical"]{ margin-left: -5px !important; 
min-width: 5px !important; max-width: 5px !important;
}

/* 垂直滚动条按钮的左边框样式 */
scrollbar thumb[orient="vertical"]{
border-style: none none none solid !important; 
}

/* 水平滚动条 */
/* 把滚动条位置移到屏幕外，这里的像素应该等于垂直滚动条宽度的负值 */
scrollbar[orient="horizontal"]{ margin-top: -5px !important; 
min-height: 5px !important; max-height: 5px !important;
}

/* 水平滚动条按钮的上边框样式 */
scrollbar thumb[orient="horizontal"]{
border-style: solid none none none !important; 
}

/* 去除垂直与水平滚动条相交汇的角落 */
scrollbar scrollcorner{display: none ! important; }

/* 滚动条两端按钮不显示 */
scrollbar scrollbarbutton { display: none ! important; }
/* 滚动条两端按钮，需要先删掉上面一行 
scrollbarbutton{ -moz-appearance: none !important;
position: relative !important;
overflow: hidden !important;
background-color: rgba(0,100,255,.25) !important;
border: none !important; 
}
scrollbar:hover scrollbarbutton, scrollbar scrollbarbutton:hover{
background-color: rgba(0,100,255,.75) !important;
}
/* 竖滚动条两端按钮的高度 
scrollbar[orient="vertical"] scrollbarbutton {
max-height:10px !important; min-height:10px !important;
}
/* 横滚动条两端按钮的宽度 
scrollbar[orient="horizontal"] scrollbarbutton {
max-width: 10px !important; min-width: 10px !important;
}

  */

/*
} */


select {
  /*统一边框*/
  
  /*将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  /*替换选择框的最右侧显示小箭头图片*/
  background-image: url(../../img/select.png) !important;
  background-position: right center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 20px !important;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
select::-moz-expand { display: none; }
select::-webkit-expand { display: none; }


.jstree-disabled i.jstree-checkbox{display:none;}

.jstree-leaf a.jstree-anchor span,.jstree-node a.jstree-anchor span{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    display: inline-block;}
.jstree-default .jstree-themeicon-custom{
    background-image: url(../../img/export_icon_warning.png);
    background-position: center center;
    background-size: auto;
}
.tree_btn{color:#419be8;margin-left:15px;}
#refreshTree_btn{
	margin-left: 10px;
	cursor:pointer;
}
.otherName_td .othername{
	padding-right:20px;
}
.otherName_td{
	position:relative;
}
.otherName_td .resetOtherName{
	background:url('../../img/refresh.png') no-repeat;
	background-size:15px;
	display: inline-block;
    height: 23px;
    width: 23px;
    position: absolute;
    margin-left: -23px;
    background-position: center;
    cursor:pointer;
}



header .el-dropdown-menu__item{
	padding-top:5px;
	padding-bottom:5px;
}
.applyFile,.applyTime{
	display:block;
	width:100%;
	white-space:nowrap;
	text-overflow:ellipsis;overflow:hidden;
	line-height:20px;
}
.applyTime{
	color:#999;
	
}
span.required{
	color:red;
}
.icon-question{
    font-style: normal;
	 display: inline-block;
    height: 14px;
    width: 14px;
    line-height: 14px;
    text-align: center;
    background: #8b95b4;
    border-radius: 50%;
    color: #fff;
    font-size: 7px;
    margin: 2px;
}
/* 导航栏个人信息 */
.icon-caret{
	display: inline-block;
    width: 0;
    height: 0;
    border: 0;
    content: "";
    border-top: 5px solid #fff;
    border-bottom: none;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    
}
#moreSetting-btn{
	margin-left: 5px;
	color:#fff;
}
div#helperBox,div#moreSetting {
    background: #fff;
    box-shadow: 0 2px 8px 0 #b1aeae;
    position: absolute;
}
div#moreSetting {
    right: 0;
    top: 40px;
    width:225px;
}
#moreSetting .thead {
    padding: 10px 15px;
    background: #edeff0;
}
#moreSetting .thead .deptName{
	text-overflow: ellipsis;
	width: 80px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	line-height: 12px;
}
#moreSetting .tbody {
    padding: 14px 0;
}
#moreSetting .tbody a {
    margin: 8px 10px;
    color: #333;
}
#moreSetting .tbody a:hover{
	text-decoration: underline !important;
	color: #333 !important;
}
#moreSetting label {
    background-color: #50c8ce;
    border-color: #50c8ce;
    color: #fff;
    border: 1px;
    padding: 2px 8px;
    margin-top: -12px;
    float: right;
}
div#helperBox{
	padding:20px;
	width: 310px;
    height: 140px;
    right: 50px;
    top: 40px;
    overflow:hidden;
    
}
div#helperBox h5{font-size:16px;margin-top: 10px;font-family: inherit;font-weight: 500;}
div#helperBox img{vertical-align: inherit;}
.submenu{
	border: 0;
    height: 45px;
    border-top: 1px solid #e8e9ee;
    line-height: 45px;
    background: #fff;
    
}
.main-bottom .view .submenu{
	margin-top: -11px;
	margin-bottom: 11px;
}
.submenu .icheck {
	margin-left:30px;
}
.submenu label{
	padding-left:5px;
}
.highfont{
	color:#548dbe;
}
#shadow {
	height: 100%;
	min-height: 400px;
	width: 100%;
	background: rgba(0, 0, 0, 0.01);
	position: absolute;
	z-index: 999999;
}

/*'更多'下拉表样式*/
.menu_downlist:hover .menu_hovershow{
  display: block;
}
.menu_downlist:hover .el-icon-arrow-down{
   /*transition: all .3s ease-in-out 0s;*/
   transform:rotate(180deg);
    -ms-transform:rotate(180deg);   /* IE 9 */
    -moz-transform:rotate(180deg);  /* Firefox */
    -webkit-transform:rotate(180deg);
}
.menu_downlist:hover{
  background: #0B71BB!important;
}
.menu_downlist .el-popover {
	position: absolute;
	background: #fff;
	min-width: 95px!important;
	border-radius: 2px;
	border: 1px solid #d3dce6;
	padding: 10px;
	z-index: 2000;
	font-size: 12px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04)
}
.menu_hovershow{
  display: none;
  width: 121px; 
  position: absolute; 
  top: 40px; 
  left: 0; 
  border-radius: 4px;
  transform-origin: center top 0; 
  z-index: 2000; 
  padding:8px!important;
}
.menu_hovershow>a{
  display: block;
  color: black;
  border-radius: 5px;
  height: 35px !important;
  line-height: 25px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
}
.menu_hovershow>a:hover{
  color: white;
  background-color: #3BA2ED;
}
.menu_downlist .el-icon-arrow-down{
    position: relative!important;
    margin: 5px;
    height: 9px;
}

